<section data-ng-controller="HomeController" class="">
    <div id="begin" class="text-center bg-alternate">
        <h1>SnapWeb</h1>
        <h4>Taking SnapChat to the web</h4>
    </div>
    <div id="details" class="text-center">
        <h4>SnapWeb does everything SnapChat does, except its on the web</h4>
        <h4>Features include:</h4>
    </div>
        <h1><div class="glyphicon glyphicon-ok"></div> Adding Friends</h1>
        <h1><div class="glyphicon glyphicon-ok"></div> Posting snaps from your webcam</h1>
        <h1><div class="glyphicon glyphicon-ok"></div> Uploading snaps from your computer</h1>
        <h1><div class="glyphicon glyphicon-ok"></div> Viewing your friend's stories</h1>
        <h1><div class="glyphicon glyphicon-ok"></div> Snapping with your friends</h1>
        <h1><div class="glyphicon glyphicon-ok"></div> Viewing your friend's snaps</h1>
</section>